    body {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 1080px;
        margin: 0 auto;
        padding: 20px;
        min-height: 870px;
        background: linear-gradient(180deg,#fbfbfb,#467aab)
    }
    h1 {
        color: #026633;
        font-family: Goudy Old Style , Helvetica, sans-serif;
    }

    h3 {
        font-family: Arial, Helvetica, sans-serif;
        color: #02361C;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }
    
        a:link {color: #c74e17;}
        a:visited {color: #ca1c16;}
        a:hover {color: #b87114;}
    
    li {
       list-style: square; 
    }

    table, th, td{
        table-layout: auto;
        border: 2px solid #9C2511;
        border-collapse: collapse;
    
    }

    button {
        border-radius: 15px;
        color: #467aab;
    }

    #spacing1 {
    
        text-align: center;
    } 
    
    .imagealignright {
        float: right;
        padding-left: 15px;
         margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-right: 30px;
    }

    .imagealignleft {
        float: left;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-right: 30px;
        border: 1px solid black;
    }

    .TextLeft {
        text-align: left;
    }

    .TextRight {
        text-align: right;
    }

    .NavBar {
        width: 120px;
        height: 25px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
         border: 2px solid #000000;
         border-radius: 5%;
         float: inline-start;
         transition: 0.5s;
    }

    #banner {
        padding-top: 2px;
    }
                                                                                                                                                                                                                                                            /* Stylesheet made by arthur (22080909) */